<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multimedia gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <h4 class="center">Image gallery</h4>
    <br />
    <div class="center-align">
        {% for multimedia in multimedia_list %}
        {% if multimedia.multimediaFile == None %}
        <img src="{{multimedia.url}}" width="300px" height="300px">
        {% else %}
        <img src="/{{multimedia.multimediaFile}}" width="300px" height="300px">
        {% endif %}
        {% endfor %}
    </div>
</body>

</html>